---
import PostCard from "./posts.tsx";

const { title, posts } = Astro.props;
---

<section class="posts">
  <h2 class="title">{title}</h2>
  {posts.length === 0 ? (
    <div>Belum ada postingan.</div>
  ) : (
    <div class="postsgrid">
      {posts.map((post) => (
        <PostCard post={post} client:visible />
      ))}
    </div>
  )}
  <div class="more">
    <a href="#">Semua Pos</a>
  </div>
</section>

<style lang="scss">
  .posts {
    @apply flex flex-col gap-4 max-w-screen-md mx-auto;
  }
  .postsgrid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-6;
  }
  .title {
    @apply font-extrabold text-4xl;
  }
  .list {
    @apply flex flex-col gap-2;
  }
  .item {
    @apply flex flex-row;
    .item__title {
      @apply font-bold;
    }
    .item__date {
      @apply ml-auto;
    }
  }
  .more {
    @apply flex flex-row justify-center;
    a {
      @apply btn btn-wide;
    }
  }
</style>
