---
layout: base
---

<header class="relative center mt3 mb1">
    <a href="{% if page.outputPath == '_site/index.html' %}{{ '/about' }}{% else %}{{ '/' }}{% endif %}">
        <img class="profile circle" src="{{ site.logo }}?nf_resize=fit&w=80" width="80" height="80">
    </a>
</header>
<main class="max-width-3 mx-auto">
    <div class="clearfix">
        {{ content }}
    </div>
</main>
<aside class="mute">
    <dark-mode-toggle
      id="dark-mode-toggle"
      appearance="toggle"
      dark="Gelap"
      light="Terang"
      remember="Ingat setelan ini"
  ></dark-mode-toggle>
</aside>
<footer class="center">
    <div class="max-width-3 mx-auto">
        <div class="divider"></div>
        <div>
            <span class="mute">&copy; {% currentYear %} {{ site.title | upcase }}</span>
        </div>
    </div>
</footer>