---
import BaseLayout from './base.astro'
import Icons from '../site/icons.astro'
import Nav from '../site/nav.astro'

import '~/styles/global.scss'
---

<BaseLayout>
  <Fragment slot="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Icons />
    <slot name="head" />
  </Fragment>
  <Nav />
  <main class="container">
    <slot />
  </main>
  <script>
    import '~/assets/js/router'
  </script>
</BaseLayout>
