<div>
    <amp-social-share type="system" style="width: 30px; height: 30px;"></amp-social-share>
    <amp-social-share type="facebook" style="width: 30px; height: 30px;" data-param-app_id="3244379695600109"></amp-social-share>
    <amp-social-share type="twitter" style="width: 30px; height: 30px;"></amp-social-share>
    <amp-social-share type="pinterest" style="width: 30px; height: 30px;"></amp-social-share>
    <amp-social-share type="whatsapp" style="width: 30px; height: 30px;"></amp-social-share>
    <amp-social-share type="line" style="width: 30px; height: 30px;"></amp-social-share>
    <amp-social-share type="sms" style="width: 30px; height: 30px;"></amp-social-share>
</div>