<span class="block center mute h4 mb1">{{ "bagikan artikel ini:" | upcase }}</span>
<div class="flex justify-center">
    <amp-social-share type="system" class="m1 circle" style="width: 40px; height: 40px;"></amp-social-share>
    <amp-social-share type="facebook" class="m1 circle" style="width: 40px; height: 40px;" data-param-app_id="3244379695600109"></amp-social-share>
    <amp-social-share type="twitter" class="m1 circle" style="width: 40px; height: 40px;"></amp-social-share>
    <amp-social-share type="whatsapp" class="m1 circle" style="width: 40px; height: 40px;"></amp-social-share>
</div>