<section class="mb3">
    <h1 class="h4 mute mb2">{{ "stories" | upcase }}</h1>
    <div class="clearfix flex flex-wrap">
        {% for story in collections.story reversed limit:8 %}
        <a class="col col-3 mb2" href="{{ story.url }}">
            <amp-img class="circle" src="{{ story.data.image }}" width="60" height="60" layout="fixed"></amp-img>
        </a>
        {% endfor %}
        <a class="col col-12 h5 mute link" href="/story">{{ "semua story" | upcase }}</a>
    </div>
</section>