<!DOCTYPE html>
<html lang="id">
<head>
    {% include component/head %}
</head>
<body id="body">
    {% if env.isProd %}
    {% unless page.url contains '/story/' %}
    {% include component/analytics %}
    {% endunless %}
    {% endif %}
    
    {{ content }}
</body>
</html>