<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--load dark/light css-->
    <script type="text/javascript">
        if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
            document.documentElement.style.display = 'none'
            document.head.insertAdjacentHTML(
                'beforeend',
                '<link rel="stylesheet" href="/assets/css/light.css" onload="document.documentElement.style.display = \'\'">'
            )
        }
    </script>
    <link rel="stylesheet" href="/assets/css/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/assets/css/light.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!--machine-readable metadata-->
    {% include partials/metadata.html %}

    <!--title-->
    {% if title %}
    <title>{{ title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }} - {{ site.description }}</title>
    {% endif %}
    
</head>
<body>
    {{ content }}
    <script type="module" src="/assets/js/dark-mode-toggle.min.mjs"></script>
</body>
</html>