---
layout: layout/layout
---
{% if title %}
<div class="col-right col-12">
    <div class="px2">
        <div class="center">
            <h1 class="mt2 mb2 title">{{ title }}</h1>
            {% if subtitle %}
                <span class="block italic center mb3" style="font-size: 125%">{{ subtitle }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% if stories %}
{% if pagination.pageNumber == 0 %}
<div class="col-right col-12 lg-col-4 px3">
    {% include component/storiescarousel.html %}
</div>
{% endif %}
{% endif %}
<div class="col col-12 lg-col-8">
    <section class="clearfix">
        {{ content }}
    </section>
</div>
{% include component/paginationlinks.html %}