---
layout: layout/base
---

{% include component/header %}
{% include component/sidebar %}
<main id="sitemain">
    {{ content }}
</main>
{% include component/footer %}
{% include component/installsw %}