---
layout: layout/base
---

<header class="fixed pt2 mb1" style="width: 100vw; background-color: var(--background-color);">
    <div class="max-width-3 mx-auto">
        <a href="{% if page.url == '/' %}{{ '/about' }}{% else %}{{ '/' }}{% endif %}" class="flex items-center justify-center">
            <img class="profile circle" src="{{ site.logo }}?nf_resize=fit&w=35" width="35" height="35">
            <span class="h2 bold headings ml1">{{ site.title }}</span>
        </a>
        <div class="divider"></div>
    </div>
</header>
<main style="margin-top: 6rem;">
    <div class="max-width-3 mx-auto">
        <div class="clearfix">
            {{ content }}
        </div>
    </div>
</main>
<aside class="mute">
    <dark-mode-toggle
      id="dark-mode-toggle"
      appearance="toggle"
      dark="Gelap"
      light="Terang"
      remember="Ingat setelan ini"
  ></dark-mode-toggle>
</aside>
<footer class="center">
    <div class="max-width-3 mx-auto">
        <div class="divider"></div>
        <div>
            <span class="mute">&copy; {% currentYear %} {{ site.title | upcase }}</span>
        </div>
    </div>
</footer>