---
layout: layout/layout
---

<article class="px2">
    <div class="center">
        <h1 class="mt0 mb1 headings">{{ title }}</h1>
        {% if subtitle %}
            <span class="block italic center mb2" style="font-size: 125%">{{ subtitle }}</span>
        {% endif %}
        <time datetime="{{ date | dateIso }}" class="block center mute">{{ date | dateReadable | prepend: "Dipublikasikan pada tanggal " | upcase }}</time>
    </div>
    <div class="divider"></div>
    <div class="content">
        {{ content }}
    </div>
</article>
<section class="px2">
    {% include partials/social.html %}
</section>
{% if nextPost.url or prevPost.url %}
<section class="postlink px2">
    <div class="divider"></div>
    <div class="clearfix">
        {% if prevPost.url %}
        <div class="left col-12 md-col-6 flex justify-start items-center mb1">
            <span class="h3 bold mr1">&#x2770;</span>
            <a href="{{ prevPost.url }}" title="{{ prevPost.data.title }}"><i>{{ prevPost.data.title | truncate: 25 }}</i></a>
        </div>
        {% endif %}
        {% if nextPost.url %}
        <div class="right col-12 md-col-6 flex justify-end items-center mb1">
            <a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}"><i>{{ nextPost.data.title | truncate: 25 }}</i></a>
            <span class="h3 bold ml1">&#x2771;</span>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
{% if comments %}
<section class="px2">
    <div class="divider"></div>
    {% include partials/comment.html %}
</section>
{% endif %}