---
layout: layout/base
---
<amp-story 
standalone  
title="{{ title }}"
publisher="{{ env.site.title }}"
publisher-logo-src="{{ env.site.logo }}"
poster-portrait-src="{{ image }}"
{%- if audio -%}
background-audio="{{ audio }}"
{%- endif -%}>
    {{ content }}
    <amp-story-bookend layout="nodisplay">
        <script type="application/json">
            {
                "bookendVersion": "v1.0",
                "shareProviders": [
                    "twitter"
                ],
                "components": [
                    {%- if collections.story.size > 1 -%}
                    {
                        "type": "heading",
                        "text": "Story Lainnya"
                    },
                    {%- for item in collections.story -%}
                    {%- unless item.url == page.url -%}
                    {
                        "type": "landscape",
                        "title": "{{ item.data.title }}",
                        "url": "{{ item.url }}",
                        "image": "{{ item.data.image }}"
                    },
                    {%- endunless -%}
                    {%- endfor -%}
                    {%- endif -%}
                    {%- if collections.post.size > 1 -%}
                    {
                        "type": "heading",
                        "text": "Artikel"
                    },
                    {%- assign posts =  collections.post | sort: date | reverse -%}
                    {%- for item in posts limit: 4 -%}
                    {
                        "type": "small",
                        "title": "{{ item.data.title }}",
                        "url": "{{ item.url }}",
                        {%- if item.data.image -%}
                        "image": "{{ item.data.image }}"
                        {%- else -%}
                        "image": "/{{ env.site.logo }}"
                        {%- endif -%}
                    },
                    {%- endfor -%}
                    {%- endif -%}
                    {
                        "type": "heading",
                        "text": "Navigasi"
                    },
                    {
                        "type": "cta-link",
                        "links": [
                            {
                                "text": "Kembali Ke Beranda",
                                "url": "/"
                            },
                            {
                                "text": "Semua Story",
                                "url": "/story"
                            }
                        ]
                    }
                ]
            }
        </script>
    </amp-story-bookend>
</amp-story>