---
const menu = [
  {
    title: "Home",
    icon: "home",
    slug: "home",
  },
  {
    title: "About",
    icon: "account_circle",
    slug: "about",
  },
  {
    title: "Posts",
    icon: "library_books",
    slug: "posts",
  },
  {
    title: "Notes",
    icon: "note",
    slug: "notes",
  },
];
---

<header class="header">
  <div class="header__nav">
    {menu.map((item) => (
      <a class="btn btn-neutral btn-outline btn-circle" href={`/${item.slug}`}>
        <span class="icon">{item.icon}</span>
      </a>
    ))}
  </div>
  <div>
    <a class="h text-xl uppercase" href="/">radenazure86.blog</a>
  </div>
</header>

<style lang="scss">
  @use "../../styles/fonts";

  .icon {
    @include fonts.useIcons();
  }

  .header {
    @apply flex flex-col gap-4 items-center max-w-screen-md mx-auto py-8;
  }

  .header__nav {
    @apply flex flex-row gap-4 justify-center;
  }
</style>
