---
import { DateTime } from 'luxon'

const data = await Astro.fetchContent('../pages/posts/*.md')
const posts = data.sort((a, b) => {
    return DateTime.fromISO(b.date).toMillis() - DateTime.fromISO(a.date).toMillis()
})
---
<section class="posts">
    <h2 class="title">Blog Post</h2>
    <ul class="list">
    {posts.map(post => (
        <li class="item">
            <a class="item__title" href={post.url}>{post.title}</a>
            <span class="item__date"><time datetime={post.date}>{DateTime.fromISO(post.date).setLocale('id').toLocaleString(DateTime.DATE_FULL)}</time></span>
        </li>
    ))}
    </ul>
</section>

<style lang="scss">
    .posts {
        @apply flex flex-col gap-4 max-w-screen-md mx-auto;
    }
    .title {
        @apply font-extrabold text-4xl;
    }
    .list {
        @apply flex flex-col gap-2;
    }
    .item {
        @apply flex flex-row;
        .item__title {
            @apply font-bold;
        }
        .item__date {
            @apply ml-auto;
        }
    }
</style>