@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Fraunces:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap'); //google-fonts

@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
    @apply flex flex-col min-h-screen font-sans;
}

#siteheader {
    @apply fixed overflow-hidden top-0 bg-white w-screen shadow-sm z-10 py-4 lg:py-8 mb-1;
    #siteheader-container {
        @apply max-w-screen-lg grid grid-cols-1 lg:grid-cols-2 gap-y-2 mx-auto px-8;
        #siteheader-logo {
            @apply flex flex-row items-center justify-items-start;
            >h1 {
                @apply font-extrabold tracking-widest text-lg transition hover:text-blue-400 ml-2;
                > span {
                    @apply hidden lg:inline transition text-gray-500 text-opacity-0 hover:text-opacity-50;
                }
            }
        }
        #siteheader-menu {
            @apply flex flex-row justify-start overflow-x-auto lg:justify-end items-center -mx-2;

            //hide scrollbar
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }

            a {
                @apply font-bold p-2 rounded-lg transition hover:text-blue-400 hover:bg-blue-400 hover:bg-opacity-10;
            }
        }
    }
}

#sitemain {
    @apply flex-1 pb-24 mt-32;
}

#sitefooter {
    @apply w-screen shadow-sm py-4;
    #sitefooter-container {
        @apply max-w-screen-lg grid grid-cols-1 lg:grid-cols-6 gap-2 mx-auto text-gray-500 px-8;
        .sitefooter-item {
            p:first-child {
                @apply font-bold;
            }
            a {
                @apply transition hover:text-blue-400;
            }
        }
        .sitefooter-icons {
            @apply flex flex-row lg:col-start-6 lg:justify-self-end -mx-2;
            a {
                @apply transition hover:text-blue-400 p-2;
                svg {
                    @apply fill-current w-5 h-5;
                }
            }
        }
    }
}

#content {
    @apply max-w-screen-lg mx-auto px-4;
    > header {
        @apply my-10 lg:my-20;
        > h1 {
            @apply font-customHeading font-extrabold lg:text-center text-4xl lg:text-6xl;
        }
        > p {
            @apply text-base lg:text-xl lg:text-center mt-4;
            &.time > time, &.time > span {
                @apply transition text-gray-500 hover:text-blue-400;
            }
            &.description {
                @apply text-base lg:text-lg font-bold text-blue-400 mb-2;
            }
        }
    }
    > main {
        @apply prose prose-lg lg:prose-xl mx-auto;
        h1, h2, h3, h4, h5, h6 {
            @apply font-customHeading;
        }
        figure {
            @apply grid grid-cols-1 place-items-center;
            img {
                @apply object-cover object-center rounded-lg m-0;
            }
            figcaption {
                @apply text-base text-center text-gray-500 m-0 py-2;
            }
        }
    }
    > footer {
        @apply pt-8 text-xl max-w-prose mx-auto;
        #contentRelated {
            @apply border-t border-gray-300;
            > h1 {
                @apply font-bold tracking-widest text-base text-gray-500 py-4;
            }
            > ul {
                li.related {
                    @apply flex flex-col lg:flex-row items-baseline py-2;
                    span {
                        @apply text-base;
                    }
                    a.relatedItem {
                        @apply font-bold transition transform translate-x-0 lg:hover:translate-x-2 hover:text-blue-400;
                    }
                }
            }
        }
    }
}

#posts {
    @apply max-w-screen-md mx-auto px-4 mt-10 lg:mt-20;
    h1 {
        @apply font-customHeading font-extrabold text-4xl lg:text-6xl lg:text-center my-10 lg:my-20 transition text-black hover:text-blue-400;
    }
    article.postsItem {
        @apply rounded-lg shadow hover:shadow-lg p-4 my-8;
        header {
            @apply mb-4;
            h2 {
                @apply font-customHeading font-extrabold text-2xl lg:text-4xl transition text-black hover:text-blue-400;
            }
            p {
                @apply text-sm mt-2;
                > time, > span {
                    @apply transition text-gray-500 hover:text-blue-400 hover:underline
                }
            }
        }
        main {
            @apply prose-lg;
        }
    }
}

#homePage {
    @apply max-w-screen-lg grid grid-cols-1 gap-16 mx-auto px-8;
}

#hello {
    > p {
        @apply text-base font-bold tracking-wider mb-4; 
        > span {
            @apply text-blue-400;
        }
    }
    > h1 {
        @apply font-customHeading font-extrabold text-4xl lg:text-6xl;
        > span {
            @apply transition hover:text-blue-400;
        }
    }

    #description {
        @apply prose prose-lg lg:prose-2xl mt-8;
    }
}

#featuredPosts {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4;
    > h1 {
        @apply col-span-1 sm:col-span-2 lg:col-span-4 font-customHeading font-extrabold text-2xl lg:text-4xl;
        > span {
            @apply transition hover:text-blue-400;
        }
    }
    > .featuredPost {

        @apply relative h-80 rounded-lg bg-cover bg-center shadow hover:shadow-lg;

        .featuredPost__image {
            @apply absolute inset-0;
            img {
                @apply object-cover object-center rounded-lg;
            }
        }

        .featuredPost__inner {

            @apply flex flex-col absolute inset-0 bg-black bg-opacity-10 rounded-lg p-4;

            h2 {
                @apply flex-1 font-customHeading font-extrabold text-2xl lg:text-3xl break-words transition hover:text-blue-400 my-2;
            } 
    
            p {
                @apply font-bold text-sm transition hover:text-blue-400 ;
            }
        }


    }
    > p {
        @apply col-span-1 sm:col-span-2 lg:col-span-4 font-bold text-xl text-right ;
        >a {
            @apply rounded-lg transition text-blue-400 hover:bg-blue-400 hover:bg-opacity-10 transform translate-x-0 hover:translate-x-2 p-2 -mr-2;
        }
    }
}

#blogroll {
    @apply max-w-screen-lg grid grid-cols-1 lg:grid-cols-4 gap-4 mx-auto px-8;
    > h1 {
        @apply lg:col-span-4 font-customHeading font-extrabold text-4xl lg:text-6xl lg:text-center my-10 lg:my-20 transition text-black hover:text-blue-400;
    }
    .blogrollItem {
        @apply rounded-lg shadow hover:shadow-lg p-4;
        h1 {
            @apply font-customHeading font-extrabold text-xl lg:text-3xl mb-2
        }
        .blogrollUrl {
            @apply text-sm text-gray-500 mb-4;
            a {
                @apply transition hover:underline hover:text-blue-400;
            }
        }
        .blogrollDesc {
            @apply prose;
        }
    }
}

/*
.mute {
    @apply text-gray-500;
}

amp-social-share {
    @apply mr-4 mb-4;
    &[type='facebook'] {
        mask-image: url('https://simpleicons.org/icons/facebook.svg');
        background-image: none;
        background-color: #1877F2;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='twitter'] {
        mask-image: url('https://simpleicons.org/icons/twitter.svg');
        background-image: none;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='pinterest'] {
        mask-image: url('https://simpleicons.org/icons/pinterest.svg');
        background-image: none;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='whatsapp'] {
        mask-image: url('https://simpleicons.org/icons/whatsapp.svg');
        background-image: none;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='line'] {
        mask-image: url('https://simpleicons.org/icons/line.svg');
        background-image: none;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='sms'] {
        mask-image: url('https://simpleicons.org/icons/googlemessages.svg');
        background-image: none;
        background-color: #1A73E8;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    &[type='system'] {
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23fff' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z'/%3E%3C/svg%3E");
        background-image: none;
        background-color: #000000;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
}
*/
