---
layout: layout/layout
pagination:
    data: collections.post
    size: 10
    reverse: true
    alias: posts
---

<div class="px2">
    <section class="mt3 content">
    {% for post in posts %}
        <table>
            <tr valign="top">
                <td style="width: 70%"><a href="{{ post.url }}"><b>{{ post.data.title }}</b></a></td>
                <td class="right-align mute" style="width: 30%">{{ post.data.date | dateReadable }}</td>
            </tr>
        </table>
    {% endfor %}
    </section>
    {% if pagination.href.previous or pagination.href.next %}
    <section class="postlink px2">
        <div class="divider"></div>
        <div class="flex">
            {% if pagination.href.previous %}
            <div class="mr-auto">
                <span class="h3 bold">&laquo;</span>
                <a href="{{ pagination.href.previous }}" title="Artikel lama"><i>Artikel lama</i></a>
            </div>
            {% endif %}
            {% if pagination.href.next %}
            <div class="ml-auto">
                <a href="{{ pagination.href.next }}" title="Artikel terbaru"><i>Artikel terbaru</i></a>
                <span class="h3 bold">&raquo;</span>
            </div>
            {% endif %}
        </div>
    </section>
    {% endif %}
</div>