---
layout: layout/home
pagination:
    data: collections.post
    size: 5
    reverse: true
    alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber | plus: 1 }}.html{% else %}index.html{% endif %}"
stories: true
---
{% for post in posts %}
<div class="col col-12 mb3">
    <div class="my2 px3 flex">
        <amp-img class="circle mr1" src="{{ env.site.logo }}" layout="fixed" height="40" width="40"></amp-img>
        <div class="flex flex-column justify-center">
            <p class="h5 mute link m0">{{ post.data.author }}</p>
            <p class="h5 mute m0"><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></p>
        </div>
    </div>
    <h1 class="title px3 my3"><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
    {% if post.data.image %}
    <a href="{{ post.url }}"><amp-img src="{{ post.data.image }}" alt="{{ post.data.title | slug | append: '-thumbnail' }}" layout="responsive" height="2" width="3"></amp-img></a>
    {% endif %}
    <div class="posts-templatecontent px3 mb2"><p>{{ post.templateContent | strip_html | truncatewords: 50 }}</p></div>
    <div class="flex">
        <a class="h5 mute link px3" href="{{ post.url }}">{{ "lanjutkan membaca" | upcase }}</a>
    </div>
    <div class="border-c mt2"></div>
</div>
{% endfor %}