:root{--background-color: var(--black);--text-color: var(--silver);--mute-color: var(--gray);--image-filter: grayscale(50%)
}img{filter:var(--image-filter);transition:filter var(--duration) var(--timing)}img:hover{filter:none;transition:filter var(--duration) var(--timing)}.lity-content img{filter:none}
