<meta charset="UTF-8">
<script async src="https://cdn.ampproject.org/v0.js"></script>

<!--title-->
{% if title %}
<title>{{ title }} - {{ env.site.title }}</title>
{% else %}
<title>{{ env.site.title }} - {{ env.site.description }}</title>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--machine-readable metadata-->
{% unless norobots %}
{% include partials/metadata.html %}
{% endunless %}

{% if norobots %}
<meta name="robots" content="noindex"/>
{% endif %}

<!--facebook comments-->
{% if comments %}
<meta property="fb:admins" content="100045738520329"/>
{% endif %}

<!--amp boilerplate & custom css-->
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style>
    {% include partials/style.css %}
</style>

<!--favicons-->
{% include partials/favicon.html %}