{% if page.inputPath contains "_post" %}
    {% if image %}
        {% assign post_image = image %}
    {% else %}
        {% assign post_image = env.site.logo %}
    {% endif %}
    {% if subtitle %}
        {% assign description = subtitle %}
    {% else if page.url contains "/story/" %}
        {% assign description = title | append: " - Story oleh " | append: env.site.title %}
    {% else %}
        {% assign description = title | append: " - Artikel oleh " | append: env.site.title %}
    {% endif %}
    {% assign absoluteUrl = page.url | replace: ".html", "" | prepend: env.site.url %}
    <!--application/ld+json-->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "name": "{{ title }}",
        "headline": "{{ title }}",
        "datePublished": "{{ page.date }}",
        "dateModified": "{{ page.date }}",
        "author": {
            "@type": "Person",
            "name": "{{ env.site.title }}",
            "url": "{{ env.site.url | append: "/about" }}"
        },
        "publisher": {
            "@type": "Organization",  
            "name": "{{ env.site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ env.site.logo | prepend: env.site.url }}"
            }
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ absoluteUrl }}"
        },
        "url": "{{ absoluteUrl }}",
        "image": "{{ post_image | prepend: env.site.url }}",
        "description": "{{ description }}"
    }
    </script>
    <!--opengraph-->
    <meta name="author" content="{{ env.site.title }}" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="article, {% if category %}{{ category | join: ', ' }}{% endif %}"/>
    <meta property="og:site_name" content="{{ env.site.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:locale" content="id_ID"/>
    <meta property="article:published_time" content="{{ page.date }}"/>
    <meta property="article:modified_time" content="{{ page.date }}"/>
    <meta property="article:author" content="{{ env.site.url | append: '/about' }}"/>
    {% for item in category %}
        <meta property="article:section" content="{{ item }}"/>
        <meta property="article:tag" content="{{ item }}"/>
    {% endfor %}
    <meta property="og:url" content="{{ absoluteUrl }}"/>
    {% if post_image contains "http" %}
    <meta property="og:image" content="{{ post_image }}">
    {% else %}
    <meta property="og:image" content="{{ post_image | prepend: env.site.url }}">
    {% endif %}
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <!--twittergraph-->
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@radenpioneer">
    <meta name="twitter:description" content="{{ description }}">
    {% if post_image contains "http" %}
    <meta name="twitter:image" content="{{ post_image }}">
    {% else %}
    <meta name="twitter:image" content="{{ post_image | prepend: env.site.url }}">
    {% endif %}
    <meta name="twitter:creator" content="@radenpioneer">

    <link rel="canonical" href="{{ absoluteUrl }}">
{% else %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "{{ env.site.title }}",
        "url": "{{ env.site.url }}",
        "image": "{{ env.site.logo | prepend: env.site.url }}",
        "description": "{{ env.site.description }}"
    }
    </script>
    <meta name="author" content="{{ env.site.title }}" />
    <meta name="description" content="{{ env.site.description }}" />
    <meta property="og:site_name" content="{{ env.site.title }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ env.site.title }}"/>
    <meta property="og:description" content="{{ env.site.description }}"/>
    <meta property="og:locale" content="id_ID"/>
    <meta property="og:url" content="{{ env.site.url }}"/>
    <meta property="og:image" content="{{ env.site.logo | prepend: env.site.url }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <!--twittergraph-->
    <meta name="twitter:title" content="{{ env.site.title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@radenpioneer">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ env.site.logo | prepend: env.site.url }}">
    <meta name="twitter:creator" content="@radenpioneer">

    <link rel="canonical" href="{{ env.site.url }}">
{% endif %}