{% if stories %}
{% if pagination.pageNumber == 0 %}
<section id="webstories" class="mb3 mxn1">
    <h1 id="webstories-label" class="h4 mute mx1 mb1">{{ "story terbaru" | upcase }}</h1>
    <div id="webstories-carousel" class="flex items-center">
        {% for story in collections.story reversed limit:5 %}
        <a class="m1" href="{{ story.url }}">
            <amp-img class="circle" src="{{ story.data.image }}" width="90" height="90" layout="fixed"></amp-img>
        </a>
        {% endfor %}
        <a role="button" class="ml1" href="/story">
            <span class="p1 bold bg-gray" style="box-shadow: 2px 2px 5px var(--gray);">{{ "story" | upcase }}</span>
        </a>
    </div>
</section>
{% endif %}
{% endif %}